<div class="selectData">
  
  <select class="dropdown" (change)="getStudentId($event)">
    <option value="0" > Select </option>
    <option value=1001 > 1001 </option>
    <option value=1002 > 1002 </option>
    <option value=1003 > 1003 </option>
    <option value=1003 > 1004 </option>
  </select>

</div>

<app-student1 [students]="selectstudents">
</app-student1>








  <!--  <label for="studentID"> Student ID: </label>
     <label for="studentName">Enter Student Name:</label>
      <input class="inputBar" [(ngModel)]="student.studentName" type="text" placeholder="Enter Student Name">
    <input type="text" [(ngModel)]="student.studentYear" placeholder="Enter Student Year"><br>
  <input type="text" [(ngModel)]="student.studentContact" placeholder="Enter Student Contact"><br>
  <input type="text" [(ngModel)]="student.studentActivity" placeholder="Enter Student Activity"><br> -->

<!-- *ngIf="studentIds == 1001"<app-student2  [studentName]="studentName"  *ngIf="studentIds == 1002"></app-student2>

<app-student3 [studentName]="studentName"  *ngIf="studentIds == 1003"></app-student3>-->


